:root.dark {
  color-scheme: dark;

  --color-text-primary: var(--color-neutral-gray-50);
  --color-text-secondary: var(--color-neutral-gray-200);
  --color-text-tertiary: var(--color-neutral-gray-300);
  --color-text-quaternary: var(--color-neutral-gray-400);
  --color-text-white: var(--color-static-white);
  --color-text-disable: var(--color-neutral-gray-500);
  --color-text-placeholder: var(--color-neutral-gray-500);
  --color-text-primary-onbrand: var(--color-static-white);
  --color-text-secondary-onbrand: var(--color-purple-200);
  --color-text-secondary-hover: var(--color-neutral-gray-100);
  --color-text-tertiary-hover: var(--color-neutral-gray-200);
  --color-text-tertiary-onbrand: var(--color-purple-200);
  --color-text-quaternary-onbrand: var(--color-purple-300);
  --color-text-placeholder-subtle: var(--color-neutral-gray-600);
  --color-text-error: var(--color-red-400);
  --color-text-warning: var(--color-purple-400);
  --color-text-success: var(--color-green-400);
  --color-text-brand-primary: var(--color-purple-300);
  --color-text-brand-secondary: var(--color-purple-200);
  --color-text-brand-teriary: var(--color-purple-100);
  --color-text-brand-secondaryhover: var(--color-purple-300);
  --color-text-brand-teriaryalt: var(--color-purple-100);
  --color-text-brand-secondary-hover: var(--color-purple-300);
  --color-text-brand-teriary-alt: var(--color-purple-100);

  --color-border-primary: var(--color-neutral-slate-700);
  --color-border-secondary: var(--color-neutral-slate-800);
  --color-border-tertiary: var(--color-neutral-slate-900);
  --color-border-disabled: var(--color-neutral-slate-800);
  --color-border-brand: var(--color-purple-500);
  --color-border-error: var(--color-red-500);
  --color-border-error-subtle: var(--color-red-700);
  --color-border-disabled-subtle: var(--color-neutral-slate-900);
  --color-border-brand-alt: var(--color-purple-400);
  --color-border-secondary-alt: rgba(255, 255, 255, 0.08);

  --color-background-primary: var(--color-neutral-slate-950);
  --color-background-secondary: var(--color-neutral-slate-900);
  --color-background-secondary-hover: var(--color-neutral-slate-800);
  --color-background-tertiary: var(--color-neutral-slate-800);
  --color-background-quaternary: var(--color-neutral-slate-700);
  --color-background-active: var(--color-neutral-slate-900);
  --color-background-disabled: var(--color-neutral-slate-900);
  --color-background-disabled-subtle: var(--color-neutral-slate-950);
  --color-background-brand-primary: var(--color-purple-950);
  --color-background-brand-primaryalt: var(--color-purple-950);
  --color-background-brand-secondary: var(--color-purple-900);
  --color-background-brand-solid: var(--color-purple-500);
  --color-background-error-primary: var(--color-red-950);
  --color-background-error-secondary: var(--color-red-900);
  --color-background-warning-primary: var(--color-purple-950);
  --color-background-warning-secondary: var(--color-purple-900);
  --color-background-success-primary: var(--color-green-950);
  --color-background-success-secondary: var(--color-green-900);
  --color-background-primary-alt: var(--color-neutral-slate-950);
  --color-background-primary-hover: var(--color-neutral-slate-900);
  --color-background-primary-solid: var(--color-neutral-slate-700);
  --color-background-secondary-alt: var(--color-neutral-slate-900);
  --color-background-secondary-subtle: var(--color-neutral-slate-950);
  --color-background-secondary-solid: var(--color-neutral-slate-600);
  --color-background-overlay: var(--color-neutral-slate-950);
  --color-background-brand-solid-hover: var(--color-purple-600);
  --color-background-brand-solid-section: var(--color-purple-700);
  --color-background-brand-solid-section-subtle: var(--color-purple-600);
  --color-background-error-solid: var(--color-red-600);
  --color-background-error-solid-hover: var(--color-red-700);
  --color-background-warning-solid: var(--color-purple-600);
  --color-background-success-solid: var(--color-green-600);
}
